extends base.jade
block content
	.autopagerize_page_element:.content
		.about.animated.fadeInDown
			h3 我
			p  码不停蹄～
			h3 过去
			p 
			| 曾经狂奔舞蹈贪婪的说话 
			p 
                        | 随着冷的湿的心腐化。
		        h3 现在
  			p 
 		        | 都是命，何自扰～ ^ ^	
